<div class="hero">
    <p>COMING SOON: THE FUNNEST WAY FOR KIDS TO LEARN SPANISH!</p>
    <%= image_tag "learnsafari_blue.png" %>

</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>

    <% else %>
        <div class="key"></div>
        <p class="byline">BE THE FIRST TO KNOW!</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "ENTER E-MAIL", :class => "email" %>
            <input class="submit" name="commit" type="submit" value="STEP INSIDE" />
        <% end %>
    <% end %>
</div>